/*  ______     ______     ______     __         ______     ______     ______     */
/* /\  ___\   /\  __ \   /\  __ \   /\ \       /\  ___\   /\  == \   /\  ___\    */
/* \ \ \____  \ \ \/\ \  \ \ \/\ \  \ \ \____  \ \  __\   \ \  __<   \ \___  \   */
/*  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\  */
/*   \/_____/   \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/  */
/* The following import statement comes from Google Fonts. Thanks, Google! */
/* https://fonts.google.com/specimen/Alata?query=Alata#styles */
/* https://fonts.google.com/specimen/Roboto?query=roboto */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* BEGIN: Colour palette from Coolers */
    /* Dark to light */
    /* https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
    /* CSS HSL */
    --space-cadet: hsla(240, 27%, 18%, 1);
    --independence: hsla(232, 17%, 35%, 1);
    --heliotrope-gray: hsla(309, 6%, 58%, 1);
    --silver-pink: hsla(11, 24%, 72%, 1);
    --isabelline: hsla(21, 35%, 92%, 1);

    /* Light to dark */
    /* https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
    /* CSS HSL */
    --gainsboro: hsla(150, 14%, 84%, 1);
    --alabaster: hsla(81, 28%, 90%, 1);
    --maize-crayola: hsla(44, 88%, 66%, 1);
    --eerie-black: hsla(60, 1%, 14%, 1);
    --jet: hsla(120, 2%, 20%, 1);
}

/*  __    __     ______     __     __   __     */
/* /\ "-./  \   /\  __ \   /\ \   /\ "-.\ \    */
/* \ \ \-./\ \  \ \  __ \  \ \ \  \ \ \-.  \   */
/*  \ \_\ \ \_\  \ \_\ \_\  \ \_\  \ \_\\"\_\  */
/*   \/_/  \/_/   \/_/\/_/   \/_/   \/_/ \/_/  */
main article > h1 {
    font-size: medium;
}
main article > h2 {
    font-size: small;
}
main article > p {
    font-weight: light;
}

.article-tags:hover^p{
    background-color: #a0a0a0;
    display: inline;
    padding: 3px;
}

.article-tags > li {
    border: solid;
    border-width: 1px;
    color: #c2c2b0;
    border-color: black;
    border-radius: 5px;;
    display: inline;
    padding: 3px;
}

.article-tags > li:hover {
    border: dashed;
    border-width: 2px;
    color: #c2c2b0;
    border-color: black;
    border-radius: 5px;;
    display: inline;
    padding: 3px;
}

ul.tags:not(:last-child) { 
    // CSS Style
}

main {
    max-width: 1200px;
}

main > article {
    max-width: 900px;
}


/* Select all but the last sibling (not last-child pattern) */
/* https://www.geeksforgeeks.org/how-to-select-all-children-of-an-element-except-the-last-child-using-css/ */
main article > div > ul:nth-child(4) > li:not(:last-child):after {
    content: ", ";
}

main article > div > ul {
    list-style: none;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--jet);
    border-radius: 2px;

    background-color: var(--jet);
}

main article > div > ul:nth-child(4) > li {
    margin-right: 10px;
}

main {
    max-width: 900px;
}

<!-- HTML !-->
/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

article > a.article-link {
    /* FIXME: should be inherited. */
    display: inline-block;
    width: 800px;
    height: 300px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button-3 {
    padding: 8px;
    min-width; 90px;
    min-height 18px;
    margin-left: 20px;
    margin-right: 20px;
}
